.workWrapper {
  height: 600px;
  .workHolder {
    padding: 40px 60px;
    .workHeading {
      .workHeadingHolder {
        width: fit-content;
        h1 {
          margin: 0;
        }
        .workLine {
          height: 5px;
          width: 60px;
          background-color: #ffee00;
        }
      }
    }
    .previousWork {
      .previousP {
        p {
          font-size: 20px;
        }
      }
      .previousWorkList {
        display: flex;
        // .projectList {
        //   margin: 15px 0;
        //   a {
        //     text-decoration: none;
        //     color: #000;
        //     font-weight: 700;
        //   }
        // }
        .cardProjectHolder {
          height: 300px;
          width: 250px;
          margin-left: 25px;
          border: 1px solid #e6e6e6;
          .cardImageHolder {
            border-bottom: 1px solid #e6e6e6;
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.2s;
            }
          }
          &:hover img {
            transform: scale(1.2);
            transition: 0.4s;
          }
        }
        .cardTextButtonHolder {
          padding: 15px;
          // .cardText {
          // }
          .cardButton {
            text-align: center;
            button {
              cursor: pointer;
              width: 80%;
              height: 35px;
              border: 2px solid #ffee00;
              margin-top: 30px;
              background-color: transparent;
              color: #000000;
              cursor: pointer;
              font-weight: 700;
              transition: 0.7s;
              font-size: 14px;
              &:hover {
                transition: 0.7s;
                background-color: #ffee00;
                color: #000;
              }
            }
          }
        }
      }
    }
    .techlogyInUseWrapper {
      margin-top: 100px;
      .technologyHeading {
        border-top: 2px solid #ffee00;
        margin-bottom: 30px;
      }
      .technologyInUse {
        display: flex;
        .singleTechnology {
          font-size: 70px;
          margin-right: 50px;
        }
        .singleTechnologyPic {
          margin: auto 50px auto 0;

          img {
            width: 60px;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////

@media screen and (max-width: 768px) {
  .workWrapper .workHolder .techlogyInUseWrapper {
    .technologyInUse {
      display: block;
      text-align: center;
      margin-top: 30px;
      .singleTechnology,
      .singleTechnologyPic {
        margin: 10px 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .workWrapper .workHolder .previousWork .previousWorkList {
    flex-direction: column;
    align-items: center;
    .cardProjectHolder {
      margin: 30px 0 0 0;
    }
  }
  .workWrapper .workHolder .techlogyInUseWrapper {
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .workWrapper .workHolder .previousWork {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .workWrapper
    .workHolder
    .previousWork
    .previousWorkList
    .cardTextButtonHolder
    .cardButton
    button {
    margin-top: 70px;
  }

  .workWrapper .workHolder .previousWork .previousWorkList .cardProjectHolder {
    width: 180px;
  }
}
